/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
  margin-right: 15px;
}

#about img{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

#ideas img {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#host ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#host img {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
  position: fixed;
  width: 100%;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}




/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  margin-top: 80px;
}

form div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

form label {
  font-weight: bold;
  margin-left: 20px;
}

form select,
form input {
  margin-bottom: 20px;
  margin-right: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px){
  
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav ul li a:hover {
    color: #bdbdbd;
    text-decoration: none;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
  }

  form label {
    margin-right: 5px;
    margin-top: 17px;
  }

  form input {
    margin-top: 14px;
  }

  form select {
    margin-top: 14px;
  }

  .query{
    display: flex;
    flex-direction: row;
    
  }

  .query img {
    flex: 1;
    margin-right: 5px;
    margin-left: 5px;
  }

  .query p {
    flex: 2;
    margin-left: 10px;
    margin-top: 40px;
  }

  .row1 {
    display: flex;
    flex-direction: row;
  }

  .row2{
    display: flex;
    flex-direction: row;
  }

  .row1-1{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
  }

  .row1-2{
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .row2-1{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
  }

  .row2-2{
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  #host{
    display: flex;
    flex-direction: row;
  }
  
  .hosttext{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin-top: 50px;
  }
 
  
  #host img {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1
  
  }
}